.qualification__container container{
    margin: 5%;
}
.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.qualification__button {
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.qualification__button:hover::after,
.qualification__button.qualification__active::after {
    color: grey;
    content: '';
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: grey;
    transition: background-color 0.3s ease; 
}
.qualification__button.qualification__active {
    color: grey; 
}
.qualification__icon {
    font-size: 1rem;
    margin-right: 0.25rem;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: 0.938rem;
    font-weight: 500;
}

.qualification__subtitle {
    display: inline-block;
    font-size: 0.813rem;
    margin-bottom: 1rem;
}

.qualification__calendar {
    font-size: 0.813rem;
    color: grey;
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: grey;
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: grey;
    transform: translate(6px, -7px);
}

.qualification__content {
    display: none;
}

.qualification__content.qualification__active {
    display: block;
}
