.about__card {
    color: grey;
    background-color: transparent;
    border: 3px solid grey;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px; 
    margin: 2% auto; 
    backdrop-filter: blur(10px); 
    box-shadow: 0px 0px 10px rgba(217, 212, 212, 0.958); 
  }
  
  @media (max-width: 800px) {
    .about__card {
      width: 90%; 
      margin: 30% 5% 5% 5%; 
    }
  }
  